body{
    background: url(/Users/HP/Downloads/h.jpg) no-repeat;
    background-size: cover;
}

.navbar ul {
    display: flex;
     list-style-type: none;
     position: absolute;
     top: 5%;
     left: 60%;


}
.navbar ul li{
    text-decoration: none;
    color:black;
    padding: 10px;
    font-size: large;
}
.logo{
    text-align: center;
    font-size: larger;
    font-weight: 900;

}